*.mzML
*.RData
*.png
*.html
*.css
*.woff
*.js
/lpos_conv_preprocessing_full
LPOS_CONV/heatmap
LPOS_CONV/lpos_conv_preprocessing_qc.qmd
*.sqlite
*.mgf
LPOS_CONV_STRICT/gnpslib.R
/LPOS_CONV_STRICT/old_files
LPOS_CONV_STRICT/data/NPC_library/LPOS_ROI_V_5_1_2.csv
LPOS_CONV/old_files/lpos_conv_annotation_GNPS.qmd
/LPOS_CONV/old_files
LPOS_CONV/gnpslib.R
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/test_DDA_opt_threshold_12052025_DriftSpots.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/test_DDA_opt_threshold_12052025_PeakProperties.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/test_DDA_opt_threshold_12052025.EIC.aef
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/test_DDA_opt_threshold_12052025.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/test_DDA_opt_threshold_12052025.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/load_param.med2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/2025_5_12_15_58_14_Loaded.msp2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/2025_5_12_15_58_14.mtd2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250512_test_DDA_02_PeakProperties.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250512_test_DDA_02_DriftSpots.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250512_test_DDA_02.EIC.aef
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_100_1M_20255121559.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_100_1M_20255121559.pai2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_10_1M_20255121559.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_10_1M_20255121559.pai2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_1_1M_20255121559.pai2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_1_1M_20255121559.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_20_1M_20255121559.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_20_1M_20255121559.pai2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_50_1M_20255121559.dcl
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250508_ASL_lipids_DDA_50_1M_20255121559.pai2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250512_test_DDA_02.arf2
LPOS_CONV/data/lpos_conv_DDA/lpos_conv_opt_DDA_20250508/20250512_test_DDA_02.dcl
